@import "./reset.css";

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url(../fonts/Pretendard-ExtraBold.otf);
}

@font-face {
  font-family: "Pretendard-Black";
  src: url(../fonts/Pretendard-Black.otf);
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url(../fonts/Pretendard-Bold.otf);
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url(../fonts/Pretendard-SemiBold.otf);
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url(../fonts/Pretendard-Medium.otf);
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url(../fonts/Pretendard-Regular.otf);
}

@font-face {
  font-family: "Pretendard-Light";
  src: url(../fonts/Pretendard-Light.otf);
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url(../fonts/Pretendard-Thin.otf);
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url(../fonts/Pretendard-ExtraLight.otf);
}

#mobile__view {
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 95px;
  overflow: hidden;
}

body {
  color: #394041;
}

.f__bold {
  font-family: "Pretendard-Bold";
}

.f__semibold {
  font-family: "Pretendard-SemiBold";
}

.f__medium {
  font-family: "Pretendard-Medium";
}

.f__regular {
  font-family: "Pretendard-Regular";
}

.f__light {
  font-family: "Pretendard-Light";
}

header {
  height: 56px;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
}

header>.header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header>.header__inner>p {
  color: #15c9ab;
  font-size: 16px;
}

header>.header__inner>a {
  display: flex;
}

header>.header__inner>a>p {
  margin-left: 17px;
  font-size: 16px;
}

main .main__inner {
  margin: 0 auto;
  width: calc(100% - 32px);
}

main .main__inner>.time__text {
  font-size: 24px;
  color: #15c9ab;
  line-height: 38px;
}

main .main__inner>.notice__txt {
  margin-top: 16px;
  font-size: 24px;
  line-height: 38px;
}

#mobile__view>.button__wrap {
  position: fixed;
  height: 80px;
  width: 100%;
  max-width: 800px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background: white;
}

#mobile__view>.button__wrap>button {
  height: 56px;
  border-radius: 4px;
  width: calc(100% - 32px);
  background: #15c9ab;
  color: white;
  border: none;
}

#mobile__view>.button__wrap>button.off__btn {
  pointer-events: none;
  background: #dfe2e2;
  color: #949c9c;
}

/* @media screen and (max-height: 650px){
  
} */